*{
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    position: relative;
    overflow: hidden;    
}

.swiper-list{
    height: 100%;
    position: absolute;
    left: 0;
}

.swiper-list-node{
    height: 100%;
    float: left;
    background: #eee;
    text-align: center;
    font-size: 56px;
    line-height: calc(100vh - 50px);
}

.swiper-list-node:nth-child(2) {
    background: #aaa;
}

.swiper-list-node:nth-child(3) {
    background: #fad;
}

.swiper-list-node:nth-child(4) {
    background: #dea;
}

.swiper-btn{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,.1);
    font-size: 54px;
    font-weight: bold;
    color: #555 ;
    cursor: pointer;
}
.swiper-btn:hover{
    color: #fff;
}

.swiper-btn-prev{
    left: 0;
}

.swiper-btn-next{
    right: 0;
}

.swiper-index{
    text-align: center; 
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 20px;
}

.swiper-index-child{
    width: 12px;
    height: 12px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    background: rgba(155,155,155,.2);
    cursor: pointer;
}

.swiper-index-child:hover{
    background: #fff;
    box-shadow: 0 0 15px #aaa;
}

.swiper-active{
    background: #fad;
}

.swiper-active:hover {
    background: #fad;
}